<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Style Script" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="title">
  <h1 style="font-size:80px">MercadoEnLinea</h1>
</div>

<div class="text-center">
  <div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-primary" (click)="registrarse()">Registrarse</button>
    <button type="button" class="btn btn-primary" (click)="ingresar()">Ingresar</button>
  </div>
</div>

<router-outlet></router-outlet>