body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d);
  min-height: 100vh;
}

.text-gray,
h1 {
  color: #aaa;
}

li.list-group-item:not(:last-child) {
  margin-bottom: 100px;
}
