<div class="row">

  <div class="col-lg-8 mx-auto">
    <h1 *ngIf="!productos.length" class=""> No existen coincidencias para la busqueda. </h1>
    <ul class="list-group shadow mt-20">
      <div *ngFor="let producto of productos">
        <li class="list-group-item">
          <app-producto [producto]=producto [preview]=true></app-producto>

          <div class="text-center">
            <button
              type="button"
              class="btn btn-primary  "
              (click)="infoProducto(producto.id)">
              Mas detalles 
            </button>
          </div>
        </li>
      </div>
    </ul>
    <br/>
  </div>
</div>